body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: url('asset/platformImage/platforms.jpg') no-repeat center center fixed; */
    background-size: cover;
    opacity: 0.07; 
    z-index: -1; /* 确保背景图像在所有内容后面 */
}
#controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#controls label {
    font-weight: bold;
    margin-right: 5px;
}

select {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 5px 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    outline: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

select:focus {
    border-color: #1f77b4; /* Focus color */
    box-shadow: 0 0 5px rgba(31, 119, 180, 0.5);
}

#chart-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: auto;
    padding: 10px;
    font: 12px 'Poppins', sans-serif;
    background: rgba(73, 47, 216, 0.7); 
    color: #fff;
    border: 1px solid #fff; /* 白色边框 */
    border-radius: 8px; /* 圆角 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* 阴影效果 */
    pointer-events: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.dot {
    fill: steelblue;
    stroke: white;
}

.label {
    font-size: 12px;
    font-weight: bold;
    fill: #555;
}

.axis text {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    fill: #333; /* Change this color as needed */
}

.x.axis text {
    /* bold */
    font-weight: bold;
    fill: #53a8e5; /* Blue color for x-axis labels */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.y.axis text {
    font-weight: bold;
    fill: #ff7f0e; /* Orange color for y-axis labels */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.axis path,
.axis line {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #807d7d;
    stroke-width: 2px;
}

#chart-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    background: linear-gradient(to right, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #9400d3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
