#section_figure5 {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#fig5-descrip h4 {
  font-size: 1.1rem;
  margin-top: 20px;
  margin-bottom: 2px;
  font-weight: bold;
}

#fig5-figure {
  margin-top: 50px;
  margin-left: 120px;
  font-size: 1.5rem;
  text-align: center;
}
#section_figure5 h2 {
  /* font-size: 2.5rem; */
  font-family: "Darumadrop One", cursive;
  color: #592d22;
  margin: 0 0 20px 0;
}

#fig5-descrip {
  margin-left: 80px;
  width: 100%;
}

.fig5-button {
  display: inline-block;
  background-color: #e5e8f0; /* Light silver blue */
  padding: 1px 2px;
  margin: 5px;
  color: #333;
  border-radius: 2rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.55s cubic-bezier(0.25, 0.1, 0.25, 1);
  font-family: "Darumadrop One", cursive;
}

.fig5-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 20%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out;
  z-index: -1;
}

.fig5-button:hover {
  padding: 1px 15px 1px;
}

.fig5-button:hover::before {
  width: 300px;
  height: 300px;
}

#fig5-show-all {
  color: #3e8262; /* Forest green */
}

#fig5-show-all:hover {
  color: #e5e8f0;
  background-color: #3e8262;
}

#fig5-price {
  color: #6d9b88; /* Muted teal */
}

#fig5-price:hover {
  color: #e5e8f0;
  background-color: #6d9b88;
}

#fig5-rating {
  color: #a992b9; /* Soft lilac */
}

#fig5-rating:hover {
  color: #e5e8f0;
  background-color: #a992b9;
}

#fig5-genres {
  color: #8a6dab; /* Muted purple */
}

#fig5-genres:hover {
  color: #e5e8f0;
  background-color: #8a6dab;
}

#fig5-release-year {
  color: #7579a7; /* Dusty blue */
}

#fig5-release-year:hover {
  color: #e5e8f0;
  background-color: #7579a7;
}

.flicker-animation {
  background: linear-gradient(45deg, #406c8e, #6192a9); /* Deep teal to soft blue */
  color: #e5e8f0 !important;
  padding: 1px 15px 1px;
  animation: color-change 4s infinite alternate;
}

@keyframes color-change {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

.fig5-info-table {
  height: auto;
  width: 30vw;
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: #f7f6f3;
  overflow: hidden;
  border-radius: 1.7rem;
  box-shadow: 0 0 10px #ccc;
  padding: 0px;
}

.product_img {
  width: 300px;
  height: 350px;
  margin-top: 10px;
}

.imgCom {
  position: absolute;
  z-index: 10;
  top: 160px;
  left: 60%;
  border-radius: 3px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  height: 80px !important;
  width: 80px !important;
  border: 1px solid #d3d3d3;
}

#fig5-title h3 {
  font-family: "Darumadrop One", cursive;
  font-size: 2rem;
}

.parameter_item {
  font-family: "Avenir Next", "proxima", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
  line-height: 24px;
  font-weight: 600;
}

.content_item {
  font-size: small;
  vertical-align: middle;
}

#fig5-flavor {
  width: 250px;
  word-wrap: break-word;
  white-space: normal;
}